body {
    background-color: aliceblue;
    padding-right: 100px;
    margin-right: 100px;
    padding-top: 200px;
    background-image: url("../images/paper.jpg");
  }

div#container
{
    height: 200px; 
    border: solid 2px green; text-align:center;
    line-height:200px;
}

input#verticalButton
{
     vertical-align: middle
}

